# user-specific settings
options.txt
optionsof.txt
optionsshaders.txt
keybindings.txt
servers.dat

# world data
saves/
world/
serverconfig/
playerdata/
stats/
advancements/
poi/
region/
entities/
Distant_Horizons_server_data/

# logs & crashes
logs/
crash-reports/

# caches
local/
cache/
dynamic-data-pack-cache/
dynamic-resource-pack-cache/
.mixin.out/
downloads/
moddata/

# maps / voice
journeymap/
xaero/
voicechat/

# usually not redistributed
resourcepacks/
shaderpacks/
